#page-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    color: #ffffff;
}

#page-main .main-container {
    width: 90%;

}


#page-main .main-container header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1.2rem auto;

}

#page-main .main-container header img {
    width: 150px;
}

#page-main .main-container header button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#page-main .main-container header button img {
    width: 30px;
   
}


.menu-btn.active .menu,
.menu-btn .close{
    display: none;
}

.menu-btn .menu,
.menu-btn.active .close{
    display: block;
}



.sidebar-genres {
    position: absolute;
    background-color: var(--backgound-sidebar);
    max-width: 16rem;
    width: 100%;
    border-radius: 0 1.2rem 1.2rem 0;
    height: 100%;
    top: 0px;
    bottom: 0;
    left: -16rem;
    overflow-y: overlay;
    z-index: 10;

    visibility: hidden;
    transition: 0.3s;
}

.sidebar-genres.active {
    transform: translateX(16rem);
    visibility: visible;
}
   
.sidebar-genres::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sidebar-genres:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: #868686;
}

.sidebar-genres::-webkit-scrollbar-button {
    height: 16px;
}


.sidebar-genres-list{

    display: flex;
    align-items: flex-start;
    
    justify-content: center;
    flex-direction: column;
    
    margin-left: 2.6rem;
    letter-spacing: 0.2rem;
}


.sidebar-genres-list h1 {
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

.sidebar-genres-list a {
    flex: 3rem;
    text-align: left;
}

.sidebar-link {
    color: #9f9f9f;
    transition: 0.2s;   
}

.sidebar-link:is(:hover, :focus-visible ) {
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    z-index: 3;
    background-color: var(--background-color);
}

.overlay.active{
    opacity: 0.5;
    pointer-events: all;
}



.trending-slider {
    margin: 3.2rem 0;
    /* position: relative; */
}

.trending-slider .glide__track {
    text-align: center;
    
}

.trending-slider .glide__slide {
    position: relative; 
}

.trending-slider .banner {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(105,105,105,25%);
    border-radius: 20px;
}

.trending-slider .banner-info {
    position: absolute;
    text-align: left;
    text-shadow: 2px 6px 5px rgba(0, 0, 0, 25%);
    
    max-width: 80%;
    height: 100%;
    /* top: 50px;
    left: 15px; */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    padding-left: 2rem;
}

.trending-slider .banner-info .heading {
    font: 600 2rem 'Poppins';
}

.trending-slider .banner-info .genre {
    font: 500 1.2rem 'Poppins';
    margin-top: 1.2rem;
}

.trending-slider .banner-info  .meta-list {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    font: 400 1.1rem 'Poppins';
}

.trending-slider .banner-info  .meta-list .meta-item:first-child {
    padding-left: 0;
}

.trending-slider .banner-info  .meta-list .meta-item {
    padding: 0 0.6rem;
}

.trending-slider .banner-info .buttons {
    display: flex;
    margin: 2rem 0;
    
}

.trending-slider .banner-info .btn button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 7rem;
    height: 2.2rem;
    border-radius: 20px;
    border: 0;

    background-color: var(--color-destaque);

    font: 700 1.4rem 'Archivo';
    color: #ffffff;
    
    cursor: pointer;
    margin-right: 1rem;
}

.trending-slider .banner-info .btn button img {
    width: 18px;
}


.trending-slider .banner-info .favorite button {
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0;


    background-color: var(--color-destaque);

    font: 300 2rem 'Archivo';
    color: #ffffff;
}



.trending-slider .glide__arrows {
    display: none;
}


.trending-slider .glide__bullets .glide__bullet {
    margin: 0 0.8rem;
}


.movie-list .title-wrapper h3{
    font: 700 2.2rem 'Poppins';
    margin: 1.2rem 0;
    color: var(--color-destaque);
}

.movie-list .slides-movie .glide-movies {
    width: 100%;
}


.movie-list .slides-movie .glide__slides {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-shrink: 0;
}

.movie-list .slides-movie .glide__slide{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .movie-list .slides-movie .glide__slide:hover {
    box-shadow: 0 4px 10px #868686;
} */

.movie-list .slides-movie .glide__slide img{
    width: 100%;
    border-radius: 20px;
    flex: 1;
} 



.movie-list .slides-movie .glide__arrows-slider {
     display: none;
}



/* 
    ----------------
        Details
    ----------------
*/