<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synapse</title>

    <link rel="stylesheet" href="../pages/main/style.css">
    <link rel="stylesheet" href="../styles/global.css">


    <script src="https://kit.fontawesome.com/026c12ae9e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../../node_modules/@glidejs/glide/dist/css/glide.core.min.css">

</head>
<body>
    <div id="page-main">
        <div class="main-container" class="container">
            <header>
                <button class="menu-btn " >
                    <img src="../assets/icons/menu-aberto.png" class="menu" alt="">   
                    <img src="../assets/icons/menu-close.png"  class="close" alt="">
                </button>
                
                
                <a href="./index.html"><img src="../assets/logo-mobile.png" alt=""></a>
                <i class="fa-solid fa-magnifying-glass" style="color: #4f196c;"></i>
            </header>
               
            <nav class="sidebar-genres">
                <div class="sidebar-inner">
                    <div class="sidebar-genres-list">
                        <h1>Gêneros</h1>
                        <a href="./movie-list.html" class="sidebar-link">Animação</a>
                        <a href="./movie-list.html" class="sidebar-link">Aventura</a>
                        <a href="./movie-list.html" class="sidebar-link">Ação</a>
                        <a href="./movie-list.html" class="sidebar-link">Comédia</a>
                        <a href="./movie-list.html" class="sidebar-link">Crime</a>
                        <a href="./movie-list.html" class="sidebar-link">Documentário</a>
                        <a href="./movie-list.html" class="sidebar-link">Drama</a>
                        <a href="./movie-list.html" class="sidebar-link">Família</a>
                        <a href="./movie-list.html" class="sidebar-link">Fantasia</a>
                        <a href="./movie-list.html" class="sidebar-link">Faroeste</a>
                        <a href="./movie-list.html" class="sidebar-link">Ficção </a>
                        <a href="./movie-list.html" class="sidebar-link">Guerra</a>
                        <a href="./movie-list.html" class="sidebar-link">Hístoria</a>
                        <a href="./movie-list.html" class="sidebar-link">Mistério</a>
                        <a href="./movie-list.html" class="sidebar-link">Musical</a>
                        <a href="./movie-list.html" class="sidebar-link">Romance</a>
                        <a href="./movie-list.html" class="sidebar-link">Terror</a>
                        <a href="./movie-list.html" class="sidebar-link">Thriller</a>

                    </div>
                </div>
            </nav>
            <div class="overlay"></div>


            <div class="movie-detail">
                
            </div>


            <div class="movie-list">
                <div class="title-wrapper">
                    <h3>More Like This</h3>
                </div>

                <div class="slides-movie">
                    <div class="glide-movies">

                        <div class="glide__arrows-slider" data-glide-el="controls">
                            <button class="glide__arrow-slider glide__arrow--left" data-glide-dir="<">prev</button>
                            <button class="glide__arrow-slider glide__arrow--right" data-glide-dir=">">next</button>
                        </div>

                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <div class="glide__slide" class="btn">
                                    <img src="../assets/movies/homem-aranha.png" alt="">
                                </div>
                                <div class="glide__slide" class="btn">
                                    <img src="../assets/movies/homem-aranha.png" alt="">
                                </div>
                                <div class="glide__slide" class="btn">
                                    <img src="../assets/movies/homem-aranha.png" alt="">
                                </div>
                            </ul>
                        </div>

                        
                    </div>
                </div>
                    
                

                
            </div>
            
        </div>
    </div>
</body>

<script src="../../node_modules/@glidejs/glide/dist/glide.min.js"></script>
<script>

    new Glide('.glide-movies', {
        type: 'carousel',
        perView: 4,
        responsive: [
            {
            breakpoint: 700,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
            },
            },
            {
            breakpoint: 1024,
            settings: {
                slidesToShow: 5,
                slidesToScroll: 5,
            },
            },
        ], 
    }).mount()

</script>
</html>